<nav class="navbar">
  <div class="navbar-bar" [class.menu-active]="pairSelectorActiveState">
    <a class="navbar-brand" [routerLink]="['/trading']">
      <img src="assets/icon.svg" [alt]="Localize.text('Blocknet Logo', context)">
    </a>

    <app-pair-selector (onActiveStatus)="pairSelectorActiveState = $event"></app-pair-selector>

    <div (click)="toggleNav()" class="navbar-collapse__overlay" [class.active]="navCollapsed"></div>
    <div class="collapse navbar-collapse" [class.active]="navCollapsed">
      <a (click)="toggleNav()" class="close"><i class="material-icons">close</i></a>
      <ul>
        <li><Localize context="{{context}}" key="Settings"></Localize></li>
        <!--<li><a href="#">My Balances</a></li>-->
        <!--<li><a href="#">Setup Wallet</a></li>-->
        <li><a href="#" (click)="openGeneralSettings($event)"><Localize context="{{context}}" key="General Settings"></Localize></a></li>
        <li><a href="#" (click)="openConfigurationWizard($event)"><Localize context="{{context}}" key="Add & Update Wallets"></Localize></a></li>
        <!-- <li><a href="#" (click)="openSettings($event)">RPC Settings</a></li> -->
        <li><a href="#" (click)="checkForUpdates($event)"><Localize context="{{context}}" key="Check for Updates"></Localize></a></li>
      </ul>
      <ul>
        <li>Information</li>
        <li><a href="#" (click)="openInformation($event)"><Localize context="{{context}}" key="Getting Started"></Localize></a></li>
        <li><a href="#" (click)="openReleaseNotesWindow($event)"><Localize context="{{context}}" key="Release Notes"></Localize></a></li>
        <li><a href="#" (click)="openLink($event, 'api')"><Localize context="{{context}}" key="API"></Localize></a></li>
        <li><a href="#" (click)="openLink($event, 'exchanges')"><Localize context="{{context}}" key="Buy BLOCK"></Localize></a></li>
        <li><a href="#" (click)="openLink($event, 'faq')"><Localize context="{{context}}" key="FAQ"></Localize></a></li>
        <li><a href="#" (click)="openLink($event, 'fees')"><Localize context="{{context}}" key="Fees"></Localize></a></li>
        <li><a href="#" (click)="openLink($event, 'resources')"><Localize context="{{context}}" key="Resources"></Localize></a></li>
        <li><a href="#" (click)="openNotices($event)"><Localize context="{{context}}" key="Terms of Service"></Localize></a></li>
      </ul>
      <!-- <ul>
        <li>Support</li>
        <li><a href="#" (click)="openLink($event, 'community')">Community Forum</a></li>
      </ul> -->
      <ul>
        <li><Localize context="{{context}}" key="Contact Us"></Localize></li>
        <li><a href="#" (click)="openLink($event, 'community')"><Localize context="{{context}}" key="Discord"></Localize></a></li>
        <li><a href="#" (click)="openLink($event, 'reddit')"><Localize context="{{context}}" key="Reddit"></Localize></a></li>
        <li><a href="#" (click)="openLink($event, 'twitter')"><Localize context="{{context}}" key="Twitter"></Localize></a></li>
      </ul>
      <ul>
        <li class="app-version"></li>
        <li class="app-version">v{{appVersion}} | <Localize context="{{context}}" key="Powered by Blocknet"></Localize></li>
      </ul>
    </div>
    <a (click)="toggleNav()" class="navbar-toggler">
      <!-- <i class="left material-icons">menu</i> -->
      {{Localize.text('Menu', context).toUpperCase()}}
    </a>
  </div>

  <div class="navbar-pricing" *ngIf="currentPrice">

    <div class="navbar-pricing__cell">
      <div class="navbar-pricing__upper">
        <span class="d-none d-sm-inline" [innerHTML]="currentPrice.last | blockCurrency:symbols[1]:'8' | localizeDecimalSeparator"></span><span class="d-none d-sm-inline"> {{symbols[1]}}</span>
      </div>
      <div class="navbar-pricing__lower"><Localize context="{{context}}" key="Last trade price"></Localize></div>
    </div>

    <div class="navbar-pricing__cell twentyfourprice--">
      <div class="navbar-pricing__upper price_{{currentPrice.priceStatus}}">
        {{currentPrice.priceDiff | percent:'1.2-2' | localizeDecimalSeparator}}
      </div>
      <div class="navbar-pricing__lower"><Localize context="{{context}}" key="24 hour price"></Localize></div>
    </div>

    <div class="navbar-pricing__cell twentyfourvol--">
      <div class="navbar-pricing__upper">{{currentPrice._volume < 1 ? (currentPrice.volume | numberFormat : "1.8-8" | localizeDecimalSeparator) : (currentPrice.volume | numberFormat : "1.0-0")}}<span class="d-none d-sm-inline"> {{symbols[0]}}</span></div>
      <div class="navbar-pricing__lower"><Localize context="context" key="24 hour volume"></Localize></div>
    </div>
  </div>

</nav>
